body{
  background-color:purple;
  font-family: 'Courier New', monospace;
}

h3{
  text-align:center;
  color: floralwhite;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 330px;
  width: 400px;
  height: 300px;
}

/*darkmagenta; darkorchid; indigo;*/
